.cont20{

    width:70%;
    height: 580px;
    /* background-color: red; */
    
    
    border-radius: 15px;
    background-image:  url('../../images/FinanceImg/finbackground.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    
    /* background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) ); */
   
  
}


.con22{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) );
}