 

.con220{
        
     height: 500px;
    /* background-color: red; */
    
    
    border-radius: 15px;
    background-image:  url('https://cdn.usegalileo.ai/sdxl10/5099f4f6-bf18-4557-a1a5-c231b4aeb59c.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    

    
    
}


.con22{
    /* background:linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%),  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) );
    
    

}

