@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-vertical {
  animation: scroll-vertical 10s linear infinite;
}
