@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.registration-main {
  display: flex;
}

.left-container {
  width: 480px;
  height:100vh;
}

.slider-img {
  width: 480px;
  height:100vh;
  position: absolute;
  opacity: 0;
  animation: slide 30s infinite;
}

.slider-img:nth-child(1) {
  animation-delay: 0s;
}

.slider-img:nth-child(2) {
  animation-delay: 5s;
}

.slider-img:nth-child(3) {
  animation-delay: 10s;
}

.slider-img:nth-child(4) {
  animation-delay: 15s;
}

.slider-img:nth-child(5) {
  animation-delay: 20s;
}

.slider-img:nth-child(6) {
  animation-delay: 25s;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Registration Form */

.heading h1 {
  width: 369px;
  height: 72px;
  position: relative;
  left: 260px;
  gap: 0px;
  opacity: 0px;
}
.heading h1 {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  color: #000000;
}

.right-container {
  width: 800px;
  height: 60px;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.contact-inputs {
  width: 422px;
  height: 50px;
  left: 30px;
  position: relative;
  gap: 0px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid black;
  opacity: 0px;
}

.contact-inputs1 {
  width: 422px;
  height: 50px;
  position: relative;
  left: 40px;
  gap: 0px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid black;
  opacity: 0px;
}

.class {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
  gap: 20px;
}

.password {
  width: 810px;
  height: 50px;
  left: 30px;
  position: relative;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid black;
}

.reg-button {
  width: 810px;
  height: 55px;
  position: relative;
  left: 30px;
  padding: 0px 16px 0px 16px;
  gap: 8px;
  border-radius: 10px 10px 10px 10px;
  opacity: 0px;
  background: #000000;

  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.checkbox-container {
  width: 810px;
  height: 22px;
  position: relative;
  left: 35px;

  bottom: 5px;
  gap: 0px;
  opacity: 0px;
}

.checkbox-container label {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #1e1e1ec7;
}

.checkbox-container label a {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #2c479e;
  text-decoration: none;
}

.checkbox-container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  position: relative;
  right: 3px;
  top: 1px;
  opacity: 0px;
  border: 5px solid black;
}

.sign-in-option {
  width: 392px;
  height: 31px;
  left: 250px;
  bottom: 10px;
  gap: 0px;
  opacity: 0px;
  position: relative;

  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #000000;
}

.sign-in-option a {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #3d54ce;
  text-decoration: none;
}

.sign-in-option a:hover {
  text-decoration: underline;
}

.contact-inputs,
.contact-inputs1,
.password {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: left;
  padding-left: 20px;
  color: #000000;
}

.contact-inputs::placeholder,
.contact-inputs1::placeholder,
.password::placeholder {
  width: 800px;
  height: 23px;
  gap: 0px;
  opacity: 0px;
  position: relative;

  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: left;
  color: #000000;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 20%;
  position: relative;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

.social-logo {
  width: 45px;
  height: 45px;
  position: relative;
  
}

@media  (max-width: 480px) {
  .registration-main {
    flex-direction: column;
  }
  
  .left-container {
    width: 580px;
    height:100vh;
  }
  
  .slider-img {
    width: 100vh;
    height:100vh;
    margin-left: 20px;
    opacity: 0;
    animation: slide 30s infinite;
  }

  
.social-login {
  display: flex;
  justify-content: center;
  gap: 20%;
  position: relative;
top: 20px;
  left: 250px;
  cursor: pointer;
}

.social-logo {
  width: 45px;
  height: 45px;
  position: relative;
  
}
  





}


@media  (max-width: 768px) {
  .registration-main {
    flex-direction: column;
  }
  
  .left-container {
    width: 580px;
    height:100vh;
  }
  
  .slider-img {
    width: 100vh;
    height:100vh;
    position: absolute;
    left: 80px;
    opacity: 0;
    animation: slide 30s infinite;
  }





}

@media  (max-width: 1024px) {
  .registration-main {
    flex-direction: column;
  }
  
  .left-container {
    width: 380px;
    height:100vh;
  }
  
  .slider-img {
    width: 480px;
    height:100vh;
    position: absolute;
    left: 210px;
  }
  

  .contact-inputs {
    width: 422px;
    height: 50px;
    left: 30px;
    position: relative;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
    opacity: 0px;
  }


}